# Django
__pycache__/
*.py[cod]

*.log
*.pot
*.pyc

# SQLite database
!db.sqlite3   # ← PERMITE subir la base de datos

# Virtual environments
venv/
env/
ENV/
*.env

# Static files compiled
media/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
