# Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# SQLite database


# Virtual environments
venv/
env/
ENV/
*.env

# Static files compiled
staticfiles/
media/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
