<!DOCTYPE html>
{% include 'header.html' %}
{%load static %}

<body>
    {% include 'Navbar.html' %}

    <section class="Jugadoras py-5">
        <div class="contenedor text-center">
            <h2 class="centrar-texto mb-4">Directiva</h2>

            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for directivo in directivos %}
                <div class="col">
                    <div class="card-Jugadoras h-100 shadow-sm">
                        <img src="{{directivo.foto.url}}" class="card-img-top" alt="{{ directivo.nombre }}">
                        <div class="card-body text-center">
                            <h3 class="card-title fw-bold">{{ directivo.nombre }}</h3>
                            <p class="card-text">
                                {{ directivo.descripcion_corta }}
                            </p>
                            <button type="button" class="boton boton--cards" data-bs-toggle="modal"
                                data-bs-target="#modal-{{ directivo.id }}">
                                Leer más
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> </div>
    </section>
    
    {% for directivo in directivos %}
    <div class="modal fade" id="modal-{{ directivo.id }}" tabindex="-1" aria-labelledby="modal-{{ directivo.id }}Label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="modal-{{ directivo.id }}Label">{{ directivo.nombre }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                </div>

                <div class="modal-body text-center">
                    <img src="{{directivo.foto.url}}" alt="{{ directivo.nombre }}"
                        class="img-fluid rounded mb-3">
                    <p>
                        {{ directivo.descripcion}}
                    </p>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}


    {% include 'PiePagina.html' %}
</body>

</html>