<!DOCTYPE html>
{% load static %}
{% include 'header.html' %}

<body>
    {% include 'Navbar.html' %}

    <section class="Galeria">
        <div class="contenedor">
            <h2 class="centrar-texto">Galería</h2>

            <div class="galeria-grid">

                {% for item in fotos %}
                <div class="item">

                    {% with url=item.imagen.url|lower %}

                        {% if ".jpg" in url or ".png" in url or ".jpeg" in url %}
                            <img src="{{ item.imagen.url }}" alt="{{ item.titulo }}" class="galeria-item">

                        {% elif ".mp4" in url %}
                            <video src="{{ item.imagen.url }}" muted loop class="galeria-item"></video>

                        {% endif %}

                    {% endwith %}

                </div>
                {% empty %}
                    <p class="centrar-texto">No hay imágenes ni videos en la galería.</p>
                {% endfor %}


            </div>

        </div>
    </section>

    <!-- 🔹 LIGHTBOX -->
    <div id="lightbox" class="lightbox">
        <span class="cerrar">&times;</span>
        <img id="lightbox-img" src="">
        <video id="lightbox-video" controls></video>
    </div>

    {% include 'PiePagina.html' %}

</body>
</html>
