{%load static%}
<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
    {% include 'Navbar.html' %}

    <section class="Historia">
        <div class="Historia_contenido contenedor">
            <!-- Texto Historia -->
            <div class="Historia_texto">
                <h2>Historia</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem iste in numquam dignissimos iure, esse
                    libero quasi labore? Error nesciunt saepe sunt quaerat quibusdam hic ea veritatis perferendis totam
                    rerum. Fugiat eaque, dicta beatae, earum tenetur minus eos aliquid nisi vero nostrum facilis officia
                    architecto alias neque quae magnam, reprehenderit nulla at ex excepturi consequatur? A est iste
                    nihil
                    nisi sit sed et provident dolor eius debitis? Vitae, reiciendis veritatis! Quia perspiciatis
                    deleniti
                    aperiam, omnis ipsam corporis accusamus, cumque quidem aspernatur alias iure commodi et iste ut
                    distinctio minima eaque. Repellat, pariatur magni! Inventore similique, repellat molestiae sit quam
                    sunt. Debitis, corporis temporibus libero maxime impedit facere ducimus perferendis veniam minima
                    accusamus dolorum ea dolor dignissimos quo excepturi, quam deserunt alias voluptatibus repudiandae
                    odit
                    autem maiores est molestias. Nemo porro possimus exercitationem enim dicta labore, suscipit vel
                    magnam
                    consectetur beatae dolorem itaque quas, doloremque pariatur.
                </p>
                <a href="/historia" class="boton boton--primario">Leer mas</a>
            </div>
            <!-- Cierre Texto Historia -->
            <!-- Imagen Historia -->
            <div class="Historia_imagen">
                <img src="{% static 'Img/Historia.jpeg' %}" alt="Historia Voleibol Dominicano">
            </div>
            <!-- Cierre Imagen Historia -->
        </div>
    </section>

    <section class="Jugadoras py-5">
        <div class="contenedor text-center">
            <h2 class="centrar-texto mb-4">Jugadoras destacadas</h2>

            <div class="row g-4 justify-content-center">
                {% for j in jugadoras %}
                    <div class="col-md-3 col-lg-3 mb-3">
                        <div class="card-Jugadoras" style="height: 45rem !important;">
                            <div class="card-img-container">
                                <img src="{% if j.foto %}{{ j.foto.url }}{% else %}{% static 'Img/nofoto.png' %}{% endif %}"
                                    class="card-jugadora-img" alt="{{ j.nombre }}">
                            </div>

                            <div class="card-body">
                                <h3 class="card-title fw-bold">{{ j.nombre }}</h3>
                                <p class="card-text">{{ j.descripcion_breve|default:"Descripción no disponible" }}</p>

                                <div class="card-footer">
                                    <a href="{% url 'jugadoras' %}" class="boton boton--cards">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


            <!-- 🔹 Botón final -->
            <a href="{% url 'jugadoras' %}" class="boton boton--primario mt-5">Conócelas a todas</a>

        </div>
    </section>

    <section class="Torneos-recientes">
        <div class="contenedor">
            <h2 id="titulo-torneos" class="centrar-texto">Torneos recientes</h2>

            <div class="Cards_torneos">

                <!-- Card 1 -->
                <div class="card text-center shadow-sm mb-4">
                    <div class="card-header">
                        22/12/2025
                    </div>
                    <div class="card-body">
                        <img src="{% static 'Img/Reinas2.jpg' %}" alt="VNL" class="img-fluid mb-3 rounded">
                        <a href="/torneos">Liga de Naciones</a>
                        <p class="card-text">
                            Las Reinas del Caribe dominaron todo el torneo sin perder un solo set. Las Reinas del Caribe
                            dominaron todo el torneo sin perder un solo set. Las Reinas del Caribe dominaron todo el
                            torneo sin perder un solo set.Las Reinas del Caribe dominaron todo el torneo sin perder un
                            solo set. Las Reinas del Caribe dominaron todo el torneo sin perder un solo set.
                        </p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Ankara, Turquía
                    </div>
                </div>
                <br>
                <br>

                <!-- Card 2 -->
                <div class="card text-center shadow-sm mb-4">
                    <div class="card-header">
                        15/10/2025
                    </div>
                    <div class="card-body">
                        <img src="{% static 'Img/Reinas4.jpg' %}" alt="Panamericana" class="img-fluid mb-3 rounded">
                        <a href="/torneos">Copa Panamericana</a>
                        <p class="card-text">
                            Las Reinas del Caribe dominaron todo el torneo sin perder un solo set. Las Reinas del Caribe
                            dominaron todo el torneo sin perder un solo set. Las Reinas del Caribe dominaron todo el
                            torneo sin perder un solo set.Las Reinas del Caribe dominaron todo el torneo sin perder un
                            solo set. Las Reinas del Caribe dominaron todo el torneo sin perder un solo set.
                        </p>
                    </div>
                    <div class="card-footer text-body">
                        Lima, Perú
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="Galeria">
        <div class="contenedor">
            <h2 class="centrar-texto">Galería</h2>
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                </div>
                <!-- <div class="overlay"></div> -->
                <div class="carousel-inner">
                    <!-- Primera imagen -->
                    <div class="carousel-item active">
                        <img src="{% static 'Img/Reinas4.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Victoria en la Copa Panamericana</h3>
                            <p>Las Reinas del Caribe logran el primer lugar tras una final épica.</p>
                        </div>
                    </div>
                    <!-- Segunda imagen -->
                    <div class="carousel-item">
                        <img src="{% static 'Img/Reinas4.jpg' %}" class="d-block w-100"
                            alt="Entrenamiento del equipo dominicano">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Entrenamiento previo a París 2025</h3>
                            <p>Preparación intensa rumbo a los Juegos Olímpicos.</p>
                        </div>
                    </div>
                    <!-- Tercera imagen -->
                    <div class="carousel-item">
                        <img src="{% static 'Img/Reinas4.jpg' %}" class="d-block w-100"
                            alt="Equipo celebrando en el podio">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Orgullo dominicano</h3>
                            <p>El equipo celebra una nueva victoria para el país.</p>
                        </div>
                    </div>
                    <!-- Cuarta imagen -->
                    <div class="carousel-item">
                        <img src="{% static 'Img/Reinas4.jpg' %}" class="d-block w-100"
                            alt="Equipo celebrando en el podio">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Orgullo dominicano</h3>
                            <p>El equipo celebra una nueva victoria para el país.</p>
                        </div>
                    </div>
                    <!-- Quinta imagen -->
                    <div class="carousel-item">
                        <img src="{% static 'Img/Reinas4.jpg' %}" class="d-block w-100"
                            alt="Equipo celebrando en el podio">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Orgullo dominicano</h3>
                            <p>El equipo celebra una nueva victoria para el país.</p>
                        </div>
                    </div>
                    <!-- Sexta imagen -->
                    <div class="carousel-item">
                        <img src="{% static 'Img/Reinas4.jpg' %}" class="d-block w-100"
                            alt="Equipo celebrando en el podio">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Orgullo dominicano</h3>
                            <p>El equipo celebra una nueva victoria para el país.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </section>

    <section class="Noticias_recientes">
        <div class="contenedor">
            <h2 class="centrar-texto">Noticias recientes</h2>

            <div class="noticias_grid">

                {% for noticia in noticias %}
                <a href="{% url 'noticias' %}" class="noticia {% if forloop.first %}{% elif forloop.counter == 5 %}noticia-grande{% endif %}">
                    
                    <img src="{% if noticia.imagen %}{{ noticia.imagen.url }}{% else %}{% static 'Img/nofoto.png' %}{% endif %}"
                        class="noticia-img" alt="{{ noticia.titulo }}">

                    <h3 class="titulo-noticia">{{ noticia.titulo }}</h3>

                </a>
                {% endfor %}

            </div>
        </div>
    </section>


    <section class="Tienda">
        <h2 class="centrar-texto">Tienda</h2>

        <div class="contenedor_tienda">
            {% for p in productos %}
            <div class="card h-100 shadow-sm">
                <img src="{{ p.imagen.url }}" class="card-img-top" alt="{{ p.nombre }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ p.nombre }}</h5>
                    <p class="card-text">{{ p.descripcion|truncatewords:20 }}</p>
                    <strong class="card-price">${{ p.precio }}</strong>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="boton-centro">
            <a href="{% url 'tienda' %}" class="boton boton--primario">Ir a la tienda</a>
        </div>
    </section>




    {% include 'PiePagina.html' %}

</body>

</html>