<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'header.html' %}

<body>
    {% include 'Navbar.html' %}


    <section class="Notice">
        <div class="contenedor">
            <h2 class="centrar-texto">Noticias Recientes</h2>

            {% comment %}
            titulo = models.CharField(max_length=200)
            contenido = models.TextField()
            fecha = models.DateField()
            imagen = models.ImageField(upload_to='noticias/', null=True, blank=True)
            {% endcomment %}





            <div class="notice-grid">
                <!-- === NOTICIA 1 === -->
                {%for noticia in noticias %}
                <div class="notice-card">
                    <img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}">
                    <div class="notice-body">
                        <h3>{{ noticia.titulo }}</h3>
                        <p>{{ noticia.contenido }}</p>
                        <p>{{ noticia.fecha }}</p>
                        <button class="btn-noticia" data-modal="{{noticia.id}}">Leer más</button>
                    </div>
                </div>
            {%endfor%}


            </div>
        </div>
    </section>

    <!-- ===== MODALES ===== -->

    <!-- Modal 1 -->

    {%for noticia in noticias %}
    <div id="{{noticia.id}}" class="modal">
        <div class="modal-content">
            <span class="cerrar">&times;</span>
            <h3>{{ noticia.titulo }}</h3>
            <img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}">
            <p>{{ noticia.contenido }}</p>
        </div>
    </div>
    {%endfor%}

    {% include 'PiePagina.html' %}


</body>

</html>