<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'header.html' %}

<body>
    {% include 'Navbar.html' %}


    <section class="Shop">
        <h2 class="centrar-texto">Tienda</h2>

        <div class="contenedor_tienda">

            {% for producto in productos %}
            <!-- Card 1 -->
            <div class="card">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">
                        {{ producto.descripcion }}
                    </p>
                    <p class="card-price">RD$ {{ producto.precio }}</p>
                    <button class="btn-comprar">Comprar</button>
                </div>
            </div>

            {% endfor %}

        </div>
        </div>
    </section>

    {% include 'PiePagina.html' %}

</body>

</html>