<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'header.html' %}

<body>
    {% include 'Navbar.html' %}


    <section class="Torneos">
        <div class="contenedor">
            <h2 class="centrar-texto">Torneos recientes</h2>

            {% for torneo in torneos %}

            <!-- ====== TORNEO 2 ====== -->
            <div class="accordion mb-3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed caja_torneo" type="button" data-bs-toggle="collapse"
                            data-bs-target="#torneo2" aria-expanded="false" aria-controls="torneo2">
                            <img src="{{ torneo.imagen.url }}" alt='Logo del torneo'>
                            <div class="info_torneo">
                                <div class="top_info">
                                    <div class="titulo">
                                        <h3>{{ torneo.titulo }}</h3>
                                        <span class="categoria">{{ torneo.categoria }}</span>
                                    </div>
                                </div>
                                <div class="fechas">
                                    <div class="fecha_inicio">
                                        {{torneo.fecha}}
                                    </div>
                                    <div class="fecha_fin">
                                        {{torneo.fechaend}}
                                    </div>
                                </div>
                                <p class="descripcion">
                                    {{ torneo.descripcion }}
                                </p>
                            </div>
                        </button>
                    </h2>
                    <div id="torneo2" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p><strong>Sede:</strong> {{ torneo.sedes }}</p>
                            <p><strong>Equipos participantes:</strong> {{ torneo.equipos }}</p>
                            <p><strong>Formato:</strong> {{ torneo.formato }}</p>
                            <p><strong>Último campeón:</strong> {{ torneo.ultimocampeon }}</p>
                            <h5 class="mt-3 mb-2"><strong>Top 3 posiciones:</strong></h5>
                            <ol class="posiciones">
                                <li><strong>1° Lugar:</strong> {{ torneo.pos1 }} 🏆</li>
                                <li><strong>2° Lugar:</strong> {{ torneo.pos2 }}</li>
                                <li><strong>3° Lugar:</strong> {{ torneo.pos3 }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
           
            </div>

       
    </section>



    {% include 'PiePagina.html' %}

</body>

</html>